include setup.py
include setup.cfg

recursive-include mapproxy/config_template *.ini *.wsgi *.yaml
recursive-include mapproxy/image/fonts *.ttf LICENSE
recursive-include mapproxy/service/templates *.css *.cfg *.gif *.png *.xml *.html *.js
recursive-include mapproxy/util/ext/wmsparse/test *.xml